// FONTS

@font-face{
	font-family: LiteBold;
	src: url("fonts/Liteweit-Bold.ttf");
}

@font-face{
	font-family: LiteReg;
	src: url("fonts/Liteweit-Regular.ttf");
}

@font-face{
	font-family: NiteReg;
	src: url("fonts/Niteweit-Regular.ttf");
}

@font-face{
	font-family: NiteBold;
	src: url("fonts/Niteweit-Bold.ttf");
}

// ELEMENTS

html, body{
	padding: 0;
	margin: 0;
	transition: background-color 1s; 
	-webkit-transition: background-color 1s;
	// height: 100%;
}

h2{
	font-family: NiteBold;
	font-size: 19px;
	padding: 0;
	margin: 0 0 5px 0;
}

h3{
	font-family: NiteReg;
	font-size: 11px;
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
}

h4{
	font-family: NiteBold;
	font-size: 11px;
	letter-spacing: 5;
	line-height: 0;
	padding: 0;
	margin: 0;
}

p{
	font-family: LiteReg;
	font-size: 19px;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

header{
	// left: 50%;
	// top: 10%;
	// transform: translate(-50%, -10%);
 	// -webkit-transform: translate(-50%, -10%);
 	margin: 0;
	text-align: center;
	padding: 0;
	background-color: green;
	position: absolute;
	bottom: 0;
	h2{
		margin: 25px 0 0 0;
	}
	h3{
		margin: 3px 0 0 0;
	}
	img{
		width: 56px;
		margin: 0 auto;
		padding: 0;
	}
}

button{
	height: 62px;
	padding: 0;
	border: 2px solid #766400;
	background-image: url('btn_background.svg');
	background-clip: content-box;
	background-color: transparent;
	font-family: NiteBold;
	font-size: 16px;
	color: #766400;
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 187px;
	// transition-duration: 1s;
	button:hover{
		color: #fff;
		border: 2px solid #fff;
	}
}


// .innerStroke{
// 	border: 4px solid red;
// 	background-color: transparent;
// 	position: absolute;
// 	width: 187px;
// 	height: 62px;
// 	padding: 0;
// 	margin: 0;
// 	top: 0;
// 	left: 0;
// }

form{
	margin: 35px 0 0 0;
	input{
		width: 100%;
		height: 50px;
		margin: 15px 0 0 0;
	}
}


.navStyle{
 	position: absolute;
  	margin: 0 0 0 40px;
  	bottom: 0;
	padding: 0;
	color: white;
	ul{
		width: 320px;
		list-style: none;
		padding: 0;
		margin: 0 auto 0 auto;
		display: inline;
	}
	li{
		text-align: center;
		display: inline-block;
		margin: 0 12px 0 0;
		padding: 0;
		transition-duration: 1s;
	}
	li:nth-child(1){
	margin: 0 21px 0 0;
	}
	img{
		width: 112px;
		margin: 13px 0 0 0;
		padding: 0;
		display: inline-block;
	}
	img:nth-child(3),img:last-child{
		width: 54px;
	}
	a{
		text-decoration: none;
		color: #fff;
	}
	#home{
		width: 18px;
		height: 15px;
		margin: 0 0 6px 0;
	}
}

.nameContainer{
	text-align: center;
	position: relative;
	transition-duration: 1.5s;
	margin: 0;
}

#headerNavContainer{
	position: relative;
	padding: 0;
	margin: 0;
	height: 87px;
	// background-color: gray;
	.image{
		position: absolute;
  		left: 50%;
  		transform: translate(-50%);
  		-webkit-transform: translate(-50%);
		width: 56px;
		padding: 0;
		position: absolute;
		bottom: 0;
	}
}

.story{
	padding: 0;
	height: 100%;
}

.learnMore{
 	width: 350px;
 	margin-top: 0;
 	margin-left: auto;
 	margin-right: auto;
	text-align: center;
	padding: 0;
	position: relative;
  	top: 20%;
  	transform: translateY(-20%);
    // width: 100%;
	img{
		width: 204px;
		height: 13px;
		margin: 33px auto 0 auto;
	}
}

.slide{
	width: 75%;
	margin-left: 45px;
	color: white;
}

.slideContent{
	transition-duration: 1s;
	position: relative;
	height: 100%;
}

.contact{
	text-align: center;
	.field:nth-child(2){
		margin: 30px 0 0 0;
	}
	p{
		text-align: left;
		margin: 0;
	}
	.wrapper{
		width: 80%;
		position: relative;
		margin: 0 auto;
	}
	img{
		width: 56px;
		margin: 0 auto;
		padding: 0;
	}
	.btnSend{
		position: relative;
		width: 215px;
		margin: 57px auto 0 auto;
	}
}

#linkedin{
	margin: 50px 0 0 0;
	padding: 0;
	text-align: center;
	button{
		position: relative;
	}
}

// .close{
// 	position: absolute;
// 	top: 10px;
// 	right: 10px;
// 	padding: 15px 5px 15px 10px;
// 	margin: 0;
// 	border: 2px solid #ebebeb;
// 	background-color: transparent;
// 	font-family: NiteBold;
// 	font-size: 16px;
// 	color: #ebebeb;
// }

.white{
	color: #fff;
}

#hitLeft{
	position: fixed;
	z-index: 99;
	left: 0;
	background-color: transparent;
	width: 10%;
	height: 100%;
	cursor: pointer;
}

#hitRight{
	position: fixed;
	z-index: 99;
	right: 0;
	background-color: transparent;
	width: 10%;
	height: 100%;
	cursor: pointer;
}

.contentContainer{
	position: relative;
	padding: 0;
	margin: 25px 0 0 0;
	// height: 100%;
	// height: 100%;
	// width: 100%;
	// background-color: blue;
}

.navLink{
	color: red;
	opacity: 1;
}

@media all and (min-width: 500px){
	.slide{
		margin: 0 auto 0 auto;
		position: relative;
  		top: 12%;
  		transform: translateY(-12%);
	}
}


@media all and (min-width: 600px){
	button{
		bottom: 30px;
		left: initial;
		right: 30px;
		margin: 0;
  	}
  	.slide{
  		top: 20%;
  		transform: translateY(-20%);
	}
  	.btnSend{
  		right: 0;
  	}
  	.contact .wrapper{
  		width: 480px;
  	}
  	.contact{
  		margin: 30px 0 0 0;
  	}
}

@media all and (min-width: 900px){
	.slide{
		width: 600px;
	}
}