/*
Syntax error: Invalid CSS after "LiteBold": expected expression (e.g. 1px, bold), was ";"
        on line 2 of base.css

1: @font-face {
2:   font-family: LiteBold;
3:   src: url("fonts/Liteweit-Bold.ttf"); }
4: 
5: @font-face {
6:   font-family: LiteReg;
7:   src: url("fonts/Liteweit-Regular.ttf"); }

Backtrace:
base.css:2
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/lexer.rb:206:in `expected!'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:493:in `assert_done'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:50:in `parse'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:166:in `parse'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script.rb:31:in `parse'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:882:in `parse_script'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:608:in `parse_property'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:597:in `parse_property_or_rule'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:578:in `parse_line'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:471:in `build_tree'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:490:in `block in append_children'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `each'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `append_children'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:480:in `block in build_tree'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:473:in `each'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:473:in `build_tree'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:490:in `block in append_children'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `each'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `append_children'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:345:in `_to_tree'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin.rb:107:in `method_missing'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:463:in `watch_or_update'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/robertgrober/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/bin/sass:13:in `<top (required)>'
/Users/robertgrober/.rbenv/versions/2.1.2/bin/sass:23:in `load'
/Users/robertgrober/.rbenv/versions/2.1.2/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"LiteBold\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of base.css\A \A 1: @font-face {\A 2:   font-family: LiteBold;\A 3:   src: url(\"fonts/Liteweit-Bold.ttf\"); }\A 4: \A 5: @font-face {\A 6:   font-family: LiteReg;\A 7:   src: url(\"fonts/Liteweit-Regular.ttf\"); }"; }
